html {
	font-size: 62.5%;	
	color: #fff;
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
	height: 100%;
}

body {
	background: #2E1912 url("background3-md.jpg") no-repeat fixed center;
    background-size: cover;
    display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	font-family: 'Bellefair', serif;
}

.container {
	max-width: 97rem;
	display: flex;
	height: 100%;
}

header {
	font-family: 'Bellefair', serif;
/*	font-family: 'Rokkitt', sans-serif;
	font-size: 2.2rem;
	text-decoration: none;
	color: #F0DFCD;*/
	/*padding-right: 4rem;*/
}

.navbar {
	padding: 0px 0px;
}

.collapse {
	min-width: 2rem;
}

#navbarDropdown {
	color: #B9B9B9;

}

/*.navbar-brand {
	width: 50px;
	height: 50px;
	border-radius: 600px;
}*/

.nav-item {
	padding: 0px 15px;
	font-family: 'Rokkitt', sans-serif;
	font-size: 2.2rem;
	text-decoration: none;
	color: #F0DFCD;
}

.dropdown-text {
	font-size: 2rem;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
	padding: 0 1.5rem;
}

.wrapper {
	/*display: grid;
	grid-template-columns: 75% 25%;
	grid-gap: 3rem;*/
	margin-top: 45px;
	margin-right: 3rem;
	box-sizing: border-box;
}

.content-bod {
	background-color: #FFFDFC;
	border-radius: 5px;
	padding: 35px 15px;
}

.container-slide {
	height: 50%;
	width: 100%;
	background-color: black;
}

.slide-im {
	height:100%; 
	width:100%;
}

.col-sm {
	margin-top: 45px;
}

.sign-title {
	font-size: 2.2rem;
	color: #F0DFCD;
	background-color: #2E1912;
	padding: 1.5px 15px 1.5px 15px;
	text-align: center;
	-webkit-border-image: url("border.png") ;
	-o-border-image: url("border.png") ;
	-moz-border-image: url("border.png") ;
 	border-image-slice: 13 3 13 13;
	border-width: 20px 20px 20px 20px;
	border-style: solid;
	border-image: url("border.png") ;
	border-radius: 2.5px;
}

form {
	font-size: 1.3rem;
	background-color: #FFFDFC;
	border-radius: 5px;
	padding: 1.5rem;
	padding-top: 35px;
}

label {
	font-size: 2.2rem;
	font-weight: normal;
}

form-control {
	border-color: transparent;
}

form-control:click {
	border-color: transparent;
	
}

#InputEmail1 {
	width: 100%;
	box-sizing: border-box;
}

#InputEmail1:selection {
	color: #2E1912;
	box-shadow: none;

}

.form-control {
	box-sizing: border-box;
}

.form-control:focus {
	outline: #2E1912;
	box-shadow: none;
}

.form-group input:focus, .form-group textarea:focus {
	border: 1px solid #5A4F40 !important;
	box-shadow: 0 0 3px #5A4F40 !important;
	-moz-box-shadow: 0 0 3px #5A4F40 !important;
	-webkit-box-shadow: 0 0 3px #5A4F40 !important;
}

input:focus, textarea:focus, select:focus {
	outline-offset: 0px !important;
	outline: none !important;
}

input[type="date"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="password"], input[type="search-md"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], textarea.md-textarea {
	box-sizing: border-box;
	font-size: 1.4rem;
}

.form-check-label {
	font-size: 1.3rem;
}

.form-check-label {
	font-size: 1.5rem;
	padding-left: 20px;
	padding-top: .1rem;
}

.btn {
	margin-bottom: 10px;
	text-transform: none;
}

hr {
	margin: 0px 0px;
	border-width: 0px 0px 1px 0px;
	background-color: #1b2a17;
}

hr.style-eight { 
	overflow: visible; /* For IE */ 
	padding: 0; 
	border: none; 
	border-top: double #333; 
	color: #333; 
	text-align: center; 
} 

hr.style-eight:after { 
	content: "§"; 
	display: inline-block; 
	position: relative; 
	top: -0.7em; 
	font-size: 1.7em; 
	padding: 0 0.25em; 
	background: white; 
}

#mc_embed_signup {
	background:#fff;
}

#mce-EMAIL {

	width: 100%;
	margin: 0px 3px 15px 0px;
	border-radius: 2px;
	border-color:
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
}

#mc-embedded-subscribe {
	width: 100%;
}

.hor1 {
	width: 30%;
	padding: 0px 0px;
	margin: 15px 0px 3px 0px;
	height: 1px;
}

.hor3 {
	width: 30%;
	margin: 3px 0px 15px 0px;
	height: 1px;
}

.sign-title2 {
	font-family: 'Bellefair', serif;
	font-size: 2.2rem;
	color: #F0DFCD;
	background-color: #1C2910;
	padding: 1.5px 15px 1.5px 15px;
	text-align: center;
	-o-border-image: url("border.png") ;
	-moz-border-image: url("border.png") ;
	border-image: url("border.png") ; 
 	border-image-slice: 13 3 13 13;
	border-width: 20px 20px 20px 20px;
	border-style: solid;
	-webkit-border-image: url("border.png");
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 2.5px;
}

#mc-embedded-subscribe {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 3.5px 0px;
	width: 100%;
	border-color: #1C2910;
	border: 1px;
	background-color: #1C2910;
	color: #F0DFCD;
	font-size: 1.5rem;
	border-radius: 2px;
}

#mc-embedded-subscribe:hover, #mc-embedded-subscribe:active, #mc-embedded-subscribe:visited {
	background-color: #F0DFCD;
	color: #2E1912;
	border-color: #2E1912 !important; 
}


.btn-primary {
	margin-top: 10px;
	right: .56rem !important;
	width: 100%;
	border-color: #2E1912;
	background-color: #2E1912;
	color: #F0DFCD;
	font-size: 1.5rem;
	position: relative;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background: #F0DFCD !important;
	background-color: #F0DFCD !important;
	color: #2E1912 !important;
	border-color: #2E1912 !important; 
}

footer {
	position: fixed;
	bottom: 0;    
	justify-content: flex-start;
}
