html, body {
	font-size: 62.5%;
	height: auto;
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

body {
	background: #2E1912 url("background-mdh.jpg") no-repeat fixed center;
	background-position: center;
	background-size: cover;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
	font-family: 'Bellefair', serif;
}

.container {
	max-width: 97rem;
	display: flex;
	height: auto;
	background-color: rgba(20, 5, 0, 0.25);
	background-size: cover;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
	height: 15rem;
	background: url("header.jpg") center;
}

.navbar-toggler {
	height: 3rem;
	width: 18rem;
	background-color: black;
}

.collapse {
	min-width: 2rem;
}

.navbar-nav {
	font-size: 2.5rem;
}

.nav-item {
	padding: 0px 15px;
}

.waves-effect, a {
	background-color: transparent;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-text > .dropdown-item{
	font-size: 1.6rem !important;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
	padding: 0 1.5rem;
}

.wrapper {
	margin-top: 45px;
	box-sizing: border-box;
}

.content-bod {
	background-color: #FFFDFC;
	border-radius: 5px;
	padding: 35px 15px;

}

.container-slide {
	height: 50%;
	width: 100%;
	background-color: black;
}

.carousel-indicators {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 0;
	right: 0;
	left: 0;
	width: 100%;
}

.slide-im {
	height: 100%;
	width: 100%;
}

form {
	font-size: 1.3rem;
	background-color: #FFFDFC;
	border-radius: 5px;
	padding: 1.5rem;
	padding-top: 35px;
}

.form-group input:focus, .form-group textarea:focus {
	border: 1px solid #5A4F40 !important;
	box-shadow: 0 0 3px #5A4F40 !important;
	-moz-box-shadow: 0 0 3px #5A4F40 !important;
	-webkit-box-shadow: 0 0 3px #5A4F40 !important;
}

.sign-title {
	font-size: 2.2rem;
	color: #F0DFCD;
	background-color: #2E1912;
	padding: 1.5px 15px 1.5px 15px;
	text-align: center;
	-webkit-border-image: url("border.png") ;
	-o-border-image: url("border.png") ;
	-moz-border-image: url("border.png") ;
 	border-image-slice: 13 3 13 13;
	border-width: 20px 20px 20px 20px;
	border-style: solid;
	border-image: url("border.png") ;
	border-radius: 2.5px;
}

label {
	font-size: 2.2rem;
	font-weight: normal;
}

input:focus, textarea:focus, select:focus {
	outline-offset: 0px !important;
	outline: none !important;
}

input[type="date"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="password"], input[type="search-md"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], textarea.md-textarea {
	box-sizing: border-box;
	font-size: 1.4rem;
}

/*.form-control, .form-control:click, .form-control:hover {
	border-color: transparent;
}*/

#InputEmail1 {
	box-sizing: border-box;
}

.form-check-label {
	font-size: 1.5rem;
	padding-left: 20px;
	padding-top: .1rem;
}

button {
	right: 5px;
}

.btn {
	margin-bottom: 25px;
	text-transform: none;
	border-color: #5A4F40;
	background-color: #5A4F40;
	width: 100%;
	align-self: center;
}

.btn-primary {
	margin-top: 10px;
	right: .56rem !important;
	width: 100%;
	border-color: #2E1912;
	background-color: #2E1912;
	color: #F0DFCD;
	font-size: 1.5rem;
	position: relative;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background: #F0DFCD !important;
	background-color: #F0DFCD !important;
	color: #2E1912 !important;
	border-color: #2E1912 !important; 
}

.button {
	transition: .2s ease-out;
	border-color: #2E1912;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3) !important;
	border-color: #5A4F40 !important;
}

#mc_embed_signup {
	background:#fff;
}

#mc-embedded-subscribe {
	width: 100%;
}

hr {
	margin: 0px 0px;
	border-width: 0px 0px 1px 0px;
	background-color: #1b2a17;
}

hr.style-eight { 
	overflow: visible; /* For IE */ 
	padding: 0; 
	border: none; 
	border-top: double #333; 
	color: #333; 
	text-align: center; 
} 

hr.style-eight:after { 
	content: "§"; 
	display: inline-block; 
	position: relative; 
	top: -0.7em; 
	font-size: 1.7em; 
	padding: 0 0.25em; 
	background: white; 
}

#mce-EMAIL {
	width: 100%;
	margin: 0px 3px 15px 0px;
	border: none;
	border-bottom: 1px solid #ccc;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.hor1 {
	width: 30%;
	padding: 0px 0px;
	margin: 15px 0px 3px 0px;
	height: 1px;
}

.hor3 {
	width: 30%;
	margin: 3px 0px 15px 0px;
	height: 1px;
}

.sign-title2 {
	font-family: 'Bellefair', serif;
	font-size: 2.2rem;
	color: #F0DFCD;
	background-color: #1C2910;
	padding: 1.5px 15px 1.5px 15px;
	text-align: center;
	-o-border-image: url("border.png") ;
	-moz-border-image: url("border.png") ;
	border-image: url("border.png") ; 
 	border-image-slice: 13 3 13 13;
	border-width: 20px 20px 20px 20px;
	border-style: solid;
	-webkit-border-image: url("border.png");
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 2.5px;
}

#mc-embedded-subscribe {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 3.5px 0px;
	width: 100%;
	border-color: #1C2910;
	border: 1px;
	background-color: #1C2910;
	color: #F0DFCD;
	font-size: 1.5rem;
	border-radius: 2px;
}

#mc-embedded-subscribe:hover, #mc-embedded-subscribe:active, #mc-embedded-subscribe:visited {
	background-color: #F0DFCD;
	color: #2E1912;
	border-color: #2E1912 !important; 
}

footer {
	position: fixed;
	bottom: 0;    
	justify-content: flex-start;
}

